:root{
    --header-height: 60px;
}

header{
    background-color: var(--color-2);
    height: var(--header-height);
    width: 100%;
}

.logo{
    --logo-margin: 4px;
    aspect-ratio: 1/1;
    height: calc( var(--header-height) - var(--logo-margin)*2 );
    background-color: var(--color-sample);
    margin: var(--logo-margin);
}