:root{
    --header-height: 80px;
}

header{
    background-color: var(--color-2);
    height: var(--header-height);
    width: 100%;
    position: relative;
}

.logo{
    --logo-margin: 8px;
    
    aspect-ratio: 1/1;
    position: absolute;
    margin: var(--logo-margin);
    background-color: var(--color-sample);
    height: calc( var(--header-height) - var(--logo-margin)*2 );
}