:root{
    --color-1: #FFF;
    --color-2: #000;
    --color-3: orange;
    --color-sample: #343434;
    --Y: #FEED00;
    --P: #E4097F;
    --B: #01A0E2;
}



body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1 1 auto;
}

.material-icons.orange600 { color: #FB8C00; }